@import './variables';
@import './mixins';

.dashboard-header {
<<<<<<< HEAD
    background-color: $color-primary;
    box-shadow: 0 2px 5px $color-gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    <<<<<<< HEAD height: 100px;
    width: 100%;
    =======padding: 0 40px;
    height: 100px;
    flex-direction: row;
=======
<<<<<<< HEAD
  background-color: $color-primary;
  box-shadow: 0 2px 5px $color-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
>>>>>>> 288de7b (complete responsive header)

    >>>>>>>90ac0e5 (responsive dashboard) @include respond(lg) {
        padding: 0 30px;
        height: 90px;
    }

    @include respond(md) {
        height: 80px;
        padding: 0 25px;
    }

    @include respond(sm) {
        height: 70px;
        padding: 0 20px;
        <<<<<<< HEAD
    }
}

.dashboard-header-left {
    margin-left: 40px;
    display: flex;
<<<<<<< HEAD
    align-items: center;
    gap: 15px;
=======
    flex-direction: column;
    justify-content: center;

    .dashboard-heading-text {
      font-size: $text-size2;
      font-weight: 600;
      margin: 0;
      line-height: 1.2;

      @include respond(md) {
        font-size: $text-size3;
      }

      @include respond(sm) {
        font-size: $text-size4;
      }
    }

    .dashboard-sub-heading-text {
      font-size: $text-size4;
      margin: 0;
      color: $text-color-secondary;

      @include respond(md) {
        font-size: $text-size5;
      }

      @include respond(sm) {
        // display: none;
      }
=======
    background-color: $color-primary;
    box-shadow: 0 2px 5px $color-gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    padding: 0 500px;
    transition: all 0.3s ease;

    @include respond(xs) {
        height: 80px;
    }

    @include respond(sm) {
        padding: 10px;
    }

    @include respond(md) {
        padding: 10px;
    }

    @include respond(lg) {
        padding: 10px;
    }

    @include respond(xl) {
        padding: 10px;

    }
}

.dashboard-header-left {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {

        height: 80px;
        width: 80px;
        border-radius: 50%;
        object-fit: cover;
        margin: 10px;

        @include respond(xs) {
            height: 50px;
            width: 50px;
        }

        @include respond(sm) {}

        @include respond(md) {}

        @include respond(lg) {}

        @include respond(xl) {}
    }


    .dashboard-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .dashboard-heading-text {

            font-size: $text-size2;
            font-weight: 600;
            margin: 0;
            line-height: 1.2;

            @include respond(xs) {
                font-size: $text-size3;
            }

            @include respond(sm) {
                font-size: $text-size3;
            }

            @include respond(md) {}

            @include respond(lg) {}

            @include respond(xl) {}
        }

        .dashboard-sub-heading-text {
            font-size: $text-size4;
            margin: 0;
            color: $text-color-secondary;

            @media (max-width: 602px) {
                height: 36px;
                width: 36px;

                &::after {
                    font-size: 16px;
                }

                pointer-events: auto;
                touch-action: manipulation;
            }
        }
>>>>>>> 716a3dd (complete responsive header)
    }
  }
}


.dashboard-header-right {
<<<<<<< HEAD
  .logout-btn {
    margin-right: 40px;
    padding: 8px 20px;
    height: 40px;
    min-width: 100px;
    border: none;
    border-radius: 8px;
    font-size: $text-size4;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    background-color: $color-primary;
    color: $text-color-primary;
    position: relative;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    }

    @include respond(md) {
      padding: 6px 15px;
      height: 36px;
      min-width: 90px;
      font-size: $text-size5;
      margin-right: 25px;
    }
>>>>>>> 288de7b (complete responsive header)

    @include respond(sm) {
        gap: 10px;
        margin-left: 20px;
    }

    .logo {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        object-fit: cover;

        @include respond(lg) {
            height: 70px;
            width: 70px;
        }

        @include respond(md) {
            height: 60px;
            width: 60px;
        }

        @include respond(sm) {
            height: 50px;
            width: 50px;
        }

        @media (max-width: 602px) {
            height: 40px;
            width: 40px;
        }
    }
<<<<<<< HEAD

    .dashboard-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .dashboard-heading-text {
            font-size: $text-size2;
            font-weight: 600;
            margin: 0;
            line-height: 1.2;

            @include respond(md) {
                font-size: $text-size3;
            }

            @include respond(sm) {
                font-size: $text-size4;
            }
        }

        .dashboard-sub-heading-text {
            font-size: $text-size4;
            margin: 0;
            color: $text-color-secondary;

            @include respond(md) {
                font-size: $text-size5;
            }

            @include respond(sm) {
                // display: none;
            }

            @media (max-width: 602px) {
                height: 60px;
                padding: 0 15px;
            }

            .dashboard-header-left {
                display: flex;
                align-items: center;
                gap: 15px;

                @include respond(sm) {
                    gap: 10px;
                }

                .logo {
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                    object-fit: cover;

                    @include respond(lg) {
                        height: 70px;
                        width: 70px;
                    }

                    @include respond(md) {
                        height: 60px;
                        width: 60px;
                    }

                    @include respond(sm) {
                        height: 50px;
                        width: 50px;
                    }

                    @media (max-width: 602px) {
                        height: 40px;
                        width: 40px;
                    }
                }

                .dashboard-heading {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .dashboard-heading-text {
                        font-size: $text-size2;
                        font-weight: 600;
                        margin: 0;
                        line-height: 1.2;

                        @include respond(md) {
                            font-size: $text-size3;
                        }

                        @include respond(sm) {
                            font-size: $text-size4;
                        }
                    }

                    .dashboard-sub-heading-text {
                        font-size: $text-size4;
                        margin: 0;
                        color: $text-color-secondary;

                        @include respond(md) {
                            font-size: $text-size5;
                        }

                        @include respond(sm) {
                            display: none;
                        }
                    }
                }
            }

            .dashboard-header-right {
                .logout-btn {
                    padding: 8px 20px;
                    height: 40px;
                    min-width: 100px;
                    border: none;
                    border-radius: 8px;
                    font-size: $text-size4;
                    font-weight: 500;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
                    background-color: white;
                    color: $text-color-primary;


                    &:hover {
                        transform: translateY(-2px);
                        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
                    }

                    @include respond(md) {
                        padding: 6px 15px;
                        height: 36px;
                        min-width: 90px;
                        font-size: $text-size5;
                    }

                    @include respond(sm) {
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        padding: 0;
                        min-width: auto;


                        span {
                            display: none;
                        }

                        &::after {
                            content: '';
                            font-size: 18px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    @media (max-width: 602px) {
                        height: 36px;
                        width: 36px;

                        &::after {
                            font-size: 16px;
                        }

                        pointer-events: auto;
                        touch-action: manipulation;
                        >>>>>>>90ac0e5 (responsive dashboard)
                    }
                }
            }
        }

        .dashboard-header-right {
            .logout-btn {
                margin-right: 40px;
                padding: 8px 20px;
                height: 40px;
                min-width: 100px;
                border: none;
                border-radius: 8px;
                font-size: $text-size4;
                font-weight: 500;
                cursor: pointer;
                transition: all 0.3s ease;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
                background-color: $color-primary;
                color: $text-color-primary;
                position: relative;

                &:hover {
                    transform: translateY(-2px);
                    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
                }

                <<<<<<< HEAD @include respond(md) {
                    padding: 6px 15px;
                    height: 36px;
                    min-width: 90px;
                    font-size: $text-size5;
                    margin-right: 25px;
                }

                @include respond(sm) {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    padding: 0;
                    min-width: auto;
                    margin-right: 20px;

                    span {
                        display: none;
                    }

                    &::after {
                        content: '→'; // or use an icon font/unicode
                        font-size: 18px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                @media (max-width: 602px) {
                    height: 36px;
                    width: 36px;
                    margin-right: 15px;

                    &::after {
                        font-size: 16px;
                    }
                }
            }
        }

        ======= // .dashboard-header {
        //     background-color: $color-primary;
        //     display: flex;
        //     justify-content: space-between;
        //     align-items: center;
        //     height: 40px;
        //     padding: 15px 40px;
        //     border-bottom: 1px solid #ddd;
        //     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

        //     .dashboard-header-left {

        //         display: flex;
        //         align-items: center;

        //         .logo-title {
        //             width: 60px;
        //             height: 60px;
        //             border-radius: 100px;
        //             background-color: rgb(157, 149, 230);
        //             margin-right: 10px;
        //             align-items: center;

        //             .logo {

        //                 height: 60px;
        //                 width: 60px;

        //             }
        //         }

        //         .dashboard-heading {

        //             .dashboard-heading {
        //                 .dashboard-heading-text {
        //                     font-size: $text-size2;
        //                     font-weight: 500;
        //                 }
        //             }

        //             .dashboard-sub-heading {
        //                 .dashboard-sub-heading-text {
        //                     font-size: $text-size4;
        //                     color: $text-color-secondary;

        //                 }
        //             }
        //         }

        //     }

        //     .dashboard-header-right {
        //         border: none;

        //         .dashbboard-header-btn {

        //             .logout-btn {
        //                 color: #333;
        //                 padding: 5px 20px;
        //                 height: 40px;
        //                 width: 100px;
        //                 border: 1px solid #ccc;
        //                 border-radius: 8px;
        //                 font-size: $text-size4;
        //                 font-weight: 500;
        //                 cursor: pointer;
        //                 //   transition: all 0.3s ease;
        //                 box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
        //             }

        //         }
        //     }
        // }
        >>>>>>>90ac0e5 (responsive dashboard)
=======
  }
=======
    margin-right: 20px;

    .logout-btn {
        height: 40px;
        width: 100px;
        border: none;
        border-radius: 8px;
        font-size: $text-size4;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
        background-color: $color-primary;
        color: $text-color-primary;
        position: relative;


        @include respond(xs) {
            width: 50px;
            height: 50px;
            border-radius: 50px;
        }

        @include respond(sm) {
            /* hide textual content and keep an icon-only appearance on small screens */
            font-size: 0;
            line-height: 0;
            padding: 0;
            overflow: hidden;

            span {
                display: none !important;
            }

            /* optional: show an icon via pseudo-element centered in the circular button */
            &::after {
                content: '\2192';
                font-size: 18px;
                line-height: 1;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                pointer-events: none;
            }

            width: 50px;
            height: 50px;
            border-radius: 50px;
        }

        @include respond(md) {}

        @include respond(lg) {}

        @include respond(xl) {}

        background-color: $color-primary;
        color: $text-color-primary;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
        }

        span {
            display: none;
        }

    }

    @include respond(md) {
        height: 36px;
        min-width: 90px;
        font-size: $text-size5;
    }

    @include respond(sm) {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        padding: 0;
        min-width: auto;


        span {
            display: none;
        }

        &::after {
            content: '';
            font-size: 18px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }


>>>>>>> 716a3dd (complete responsive header)
}
>>>>>>> 288de7b (complete responsive header)
