@import './variables.sass';
@import './mixins.scss';


.dashboard-header {
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 15px 0px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    width: 100vw;

    @include respond(xs) {
        // background-color: rgb(19, 206, 97);
    }

    .dashboard-header-left {

        display: flex;
        align-items: center;
        margin: 0 50px;

        .logo-title {
            width: 60px;
            height: 60px;
            border-radius: 100px;
            background-color: rgb(157, 149, 230);
            margin-right: 10px;
            align-items: center;

            .logo {

                height: 60px;
                width: 60px;

            }
        }

        .dashboard-heading {

            .dashboard-heading {
                .dashboard-heading-text {
                    font-size: $text-size2;
                    font-weight: 800 !important;
                }
            }

            .dashboard-sub-heading {
                .dashboard-sub-heading-text {
                    font-size: $text-size4;
                    color: $text-color-secondary;

                }
            }
        }

    }

    .dashboard-header-right {
        border: none;
        margin: 0 50px;

        .dashbboard-header-btn {

            .logout-btn {
                color: #333;
                padding: 5px 20px;
                height: 40px;
                width: 100px;
                border: 1px solid #ccc;
                border-radius: 8px;
                font-size: $text-size4;
                font-weight: 500;
                cursor: pointer;
                //   transition: all 0.3s ease;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
            }

        }
    }
}








// .dashboard-header {
//     background-color: $color-primary;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     height: 40px;
//     padding: 15px 40px;
//     border-bottom: 1px solid #ddd;
//     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

//     .dashboard-header-left {

//         display: flex;
//         align-items: center;

//         .logo-title {
//             width: 60px;
//             height: 60px;
//             border-radius: 100px;
//             background-color: rgb(157, 149, 230);
//             margin-right: 10px;
//             align-items: center;

//             .logo {

//                 height: 60px;
//                 width: 60px;

//             }
//         }

//         .dashboard-heading {

//             .dashboard-heading {
//                 .dashboard-heading-text {
//                     font-size: $text-size2;
//                     font-weight: 500;
//                 }
//             }

//             .dashboard-sub-heading {
//                 .dashboard-sub-heading-text {
//                     font-size: $text-size4;
//                     color: $text-color-secondary;

//                 }
//             }
//         }

//     }

//     .dashboard-header-right {
//         border: none;

//         .dashbboard-header-btn {

//             .logout-btn {
//                 color: #333;
//                 padding: 5px 20px;
//                 height: 40px;
//                 width: 100px;
//                 border: 1px solid #ccc;
//                 border-radius: 8px;
//                 font-size: $text-size4;
//                 font-weight: 500;
//                 cursor: pointer;
//                 //   transition: all 0.3s ease;
//                 box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
//             }

//         }
//     }
// }