.dashboard-header {
    background-color: rgb(140, 241, 208);
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: white;
    height: 60px;
    padding: 10px 40px;
    border-bottom: 1px solid #ddd;


    .logo-title {

        .logo {
            height: 100px;
        }
    }
}