    $color-primary: #f5f6fa;
    $color-secondry: rgb(241, 241, 241);
    $color-gray: rgb(99, 98, 98);
    $color-red: rgb(255, 93, 29);
    $color-blue: rgb(0, 119, 230);
    $color-green: rgb(3, 197, 3);
    $color-blue-darken: darken($color-blue, 10%);
    $color-green-darken: darken($color-green, 10%);
    $color-red-darken: darken($color-red, 10%);
    $color-light-gray: #ccc;


    $text-size1: 25px;
    $text-size2: 20px;
    $text-size3: 18px;
    $text-size4: 15px;
    $text-size5: 12px;


    $text-color-primary: #333;
    $text-color-secondary: gray;
    $text-color-white: #f5f6fa;
    $text-color-green: rgb(3, 197, 3);
    $text-color-red: red;
    $text-color-blue: rgb(0, 119, 230);


    .mpDashboard {
        display: flex;
        flex-direction: column;
        width: 80vW;
        padding: 10px 20px;
    }

    .dashboard-header {
        background-color: $color-primary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        padding: 15px 40px;
        border-bottom: 1px solid #ddd;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

        .dashboard-header-left {

            display: flex;
            align-items: center;

            .logo-title {
                width: 60px;
                height: 60px;
                border-radius: 100px;
                background-color: rgb(157, 149, 230);
                margin-right: 10px;
                align-items: center;

                .logo {

                    height: 60px;
                    width: 60px;

                }
            }

            .dashboard-heading {

                .dashboard-heading {
                    .dashboard-heading-text {
                        font-size: $text-size2;
                        font-weight: 500;
                    }
                }

                .dashboard-sub-heading {
                    .dashboard-sub-heading-text {
                        font-size: $text-size4;
                        color: $text-color-secondary;

                    }
                }
            }

        }

        .dashboard-header-right {
            border: none;

            .dashbboard-header-btn {

                .logout-btn {
                    color: #333;
                    padding: 5px 20px;
                    height: 40px;
                    width: 100px;
                    border: 1px solid #ccc;
                    border-radius: 8px;
                    font-size: $text-size4;
                    font-weight: 500;
                    cursor: pointer;
                    //   transition: all 0.3s ease;
                    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
                }

            }
        }
    }

    .top {
        display: flex;
        justify-content: space-around;
        padding: 0;
        //   justify-content: center;


    }

    .bottem {
        display: flex;
        justify-content: space-between;
        // justify-content: center;
        padding: 0;
    }

    .container {
        background-color: $color-primary;

        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-content: center;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        padding: 15px 30px;
        margin: 15px 20px;

        .heading-section {
            display: flex;
            flex-direction: column;
            // position: sticky;
            top: 20px;
            top: 10px;
            margin: 20px 0;
            z-index: 10;
            padding: 10px 0;
            border-bottom: 1px solid #ccc;

            .heading-text {
                font-size: $text-size2;
                font-weight: 500;
            }


        }

    }

    .info-box-heading {
        font-size: $text-size4;
        color: $text-color-primary;
    }

    .sub-heding-text {
        font-size: $text-size4;
        color: $text-color-secondary;

    }

    .sub-heading-text {
        font-size: $text-size4;
        color: $text-color-secondary;

    }

    .info-box-sub-heading {
        font-size: $text-size1;
        color: $text-color-primary;
        font-weight: 800;
        // background-color: #333;
    }

    .heading {
        display: flex;
        flex-direction: column;
    }

    .heading-text {
        font-size: $text-size2;
        font-weight: 700 !important;
        // background-color: red;
    }

    .heading-green {
        color: $text-color-green !important;
    }

    .heading-red {
        color: $text-color-red !important;
    }

    .heading-blue {
        color: $text-color-blue !important;
    }

    .info-box-small {
        height: 80px;
        width: 20%;
        transition: all 0.3s ease;
    }

    .info-box-small:hover {
        cursor: pointer;
    }

    .info-box-medium {
        // height: 550px;
        width: 45%;





        .info-box-content {
            height: 70px;
            margin-left: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
            align-items: center;

            .left {
                align-content: center;
                display: flex;
                flex-direction: column;
                position: relative;

                .info-box-heading-text {
                    font-size: $text-size3;
                    font-weight: 500;
                }



                .info-box-sub-heding-text {
                    font-size: $text-size4;
                    color: $text-color-secondary;
                }

            }

            .right {
                display: flex;
                flex-direction: column;


                .info-box-heading-text {
                    font-size: $text-size1;
                    font-weight: 500;

                }

                .info-box-sub-heding-text {
                    font-size: $text-size4;
                    color: $text-color-secondary;
                }
            }

        }


    }

    .info-box-large {
        // height: 200px;
        padding: 50px;
        width: 100%;


    }

    .select-box {
        height: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        color: $text-color-secondary;
        border: none;
        font-weight: 500;
        justify-items: center;
        width: 100%;
        // border: 1px $color-light-gray solid;

    }

    .btn {
        padding: 5px 20px;
        height: 40px;
        border: none;
        border-radius: 8px;
        font-size: $text-size4;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
        width: 100%;
        margin: 0 5px;

    }

    .btn:hover {
        font-weight: 600;
    }

    .btn-blue {
        font-size: $text-size3;
        background-color: $color-blue;
        border: 1px solid $color-blue;
        color: $text-color-white;
        font-weight: 500;
    }

    .btn-blue:hover {
        background-color: $color-blue-darken;
    }

    .btn-red {
        font-size: $text-size3;
        background-color: $color-red;
        border: 1px solid $color-red;
        color: $text-color-white;
        font-weight: 500;
    }

    .btn-red:hover {
        background-color: $color-red-darken;
    }

    .btn-green {
        font-size: $text-size3;
        background-color: $color-green;
        color: $text-color-white;
        font-weight: 500;
        border: 1px solid $color-green;

    }

    .btn-green:hover {
        background-color: $color-green-darken;
    }

    .info-line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 50px;
        align-items: center;
        padding: 0;

        .info-line-item {
            width: 100%;
            flex: 1;
            margin: 0 10px;
            display: flex;

        }
    }


    .nav {
        margin: 5px 20px;
        padding: 5px 0;
        background-color: $color-secondry;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);

        .nav-item {
            flex: 1;
            padding: 2px 40px;
            color: $text-color-secondary;
            justify-content: center;
            text-align: center;
            font-weight: 500;
            cursor: pointer;
            border-radius: 15px;
            transition: all 1s ease, color 0.2s ease, border-radius 0.2 ease;


        }

        .active {
            background-color: white;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            color: #000;
        }

        .nav-item:hover {
            background-color: $color-light-gray;

        }

    }


    .table {
        display: flex;
        flex-direction: column;


        .table-row {
            // padding: 10px 0;
            display: flex;
            flex-direction: row;
            // background-color: red;
            justify-content: center;
            align-content: center;
            border-radius: 10px;
            height: 60px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);

            .table-head {
                flex: 1;
                text-align: center;
                justify-content: center;
                padding: 5px 10px;
                color: $text-color-secondary;
                font-weight: 500;
                font-size: $text-size3;

            }

            .table-data {
                flex: 1;
                text-align: center;
                padding: 5px 10px;
                display: flex;
                justify-content: center;
            }
        }

    }

    .btn-label {
        display: flex;
        height: 20px;
        width: 100px;
        padding: 8px 30px;
        align-content: center;
        text-align: center;
        justify-content: center;
        border-radius: 20px;
    }


    .label-blue {
        font-size: $text-size3;
        background-color: $color-blue;
        // border: 1px solid $color-blue;
        // background-color: rgba(0, 0, 255, 0.6);
        color: $text-color-white;
        font-weight: 500;

    }

    .label-red {
        font-size: $text-size3;
        background-color: $color-red;
        // border: 1px solid $color-red;
        // background-color: rgba(255, 0, 0, 0.6);
        color: $text-color-white;
        font-weight: 500;

    }

    .label-green {
        font-size: $text-size3;
        background-color: $color-green;
        // background-color: rgba(0, 255, 0, 0.6);
        color: $text-color-white;
        font-weight: 500;
        border: 1px solid $color-green;

    }

    .info-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .left {
            flex: 0.4;
            padding: 5px 20px;
            display: flex;
            flex-direction: column;
            // background-color: #333;

            .heading-name {
                font-size: $text-size3;
                font-weight: 500;
            }

            .sub-heading {
                font-size: $text-size4;
                color: $text-color-secondary;
            }

            .sub-heading-bolt {
                font-size: $text-size4;
                font-weight: 500;
            }

            .bottem {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        .right {
            padding: 5px 20px;
            display: flex;
            align-items: center;
            justify-content: left;
        }

        .two-com {
            justify-content: space-between;
            flex: 0.2;

            .com {

                margin: 0 10px;
                flex: 1;
            }
        }
    }

    .content {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
    }

    .events {
        flex-direction: column;
    }

    .label {
        display: inline-block;
        border: 1px solid $color-light-gray;
        display: flex;
        font-size: $text-size4;
        height: 40px;
        padding: 0 20px;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        // background-color: $color-light-gray ;
        min-width: 60px
    }

    .data-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bottem {
        display: none;
        // display: flex;
        flex-direction: column;
    }

    .active {
        display: flex;

    }

    .box {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .text-field {
            margin: 10px 20px;
            flex: 1;

            .heading {
                font-size: $text-size3;
                font-weight: 500;
                color: $text-color-secondary;
                margin-bottom: 5px;
            }

        }

        .heading {
            font-size: $text-size1;
            font-weight: 700;
            color: $text-color-primary;
            margin-bottom: 5px;
            color: $text-color-green;
        }


    }





    @media (max-width: 1024px) {
        .info-box-small {
            width: 45%;
            margin: 10px auto;
        }

        .info-box-medium {
            width: 90% !important;
            flex-direction: column;
        }

        .box {
            flex-direction: column !important;
            align-items: center;
        }

        .row {
            flex-direction: column !important;

            .text-field {
                width: 100%;
                margin: 10px 0;
            }
        }

        .nav {
            flex-direction: column !important;

            .nav-item {
                padding: 10px 20px;
                width: 100%;
                margin: 5px 0;
            }
        }
    }

    @media (max-width: 600px) {
        .dashboard-header {
            flex-direction: column !important;
            height: auto;
            padding: 10px;
            text-align: center;
        }

        .info-box-sub-heading {
            font-size: $text-size3;
        }

        .heading-text {
            font-size: $text-size3;
        }

        .btn {
            font-size: $text-size4;
            width: 100%;
        }

        .table-row {
            flex-direction: column;
            height: auto;

            .table-data,
            .table-head {
                padding: 5px;
                text-align: left;
            }
        }

        .data-box {
            margin-bottom: 10px;
        }
    }

    // @media (max-width: 600px) {
    //     .dashboard-header {
    //         flex-direction: column !important;
    //         height: auto;
    //         padding: 10px;
    //         text-align: center;
    //     }

    //     .info-box-sub-heading {
    //         font-size: $text-size3;
    //     }

    //     .heading-text {
    //         font-size: $text-size3;
    //     }

    //     .btn {
    //         font-size: $text-size4;
    //         width: 100%;
    //     }

    //     .table-row {
    //         flex-direction: column;
    //         height: auto;

    //         .table-data,
    //         .table-head {
    //             padding: 5px;
    //             text-align: left;
    //         }
    //     }

    //     .data-box {
    //         margin-bottom: 10px;
    //     }
    // }