<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/management.css" />
    <link rel="stylesheet" href="/public/css/styles.css" />
  </head>
  <body>
    <div class="body">
      <div class="top">
        <div class="container info-box-small left-most">
          <span class="info-box-heading">Total Student</span>
          <span class="info-box-sub-heading">1245</span>
        </div>
        <div class="container info-box-small">
          <span class="info-box-heading">Total Student</span>
          <span class="info-box-sub-heading">1245</span>
        </div>
        <div class="container info-box-small">
          <span class="info-box-heading">Total Student</span>
          <span class="info-box-sub-heading">1245</span>
        </div>
        <div class="container info-box-small right-most">
          <span class="info-box-heading">Total Student</span>
          <span class="info-box-sub-heading">1245</span>
        </div>
      </div>

      <div class="nav">
        <div class="nav-item">User Management</div>
        <div class="nav-item active">Academic</div>
        <div class="nav-item">Requests</div>
        <div class="nav-item">Events</div>
        <div class="nav-item">Reports</div>
        <div class="nav-item">Announcements</div>
      </div>

      <div class="bottem">
        <div class="container info-box-medium left-most">
          <div class="heading">
            <span class="heading-text">Academic Perfomance Overview</span>
            <span class="sub-heding-text">school-wide academic statistics</span>
          </div>
          <div class="content">
            <div class="info-box-content container">
              <div class="left">
                <span class="info-box-heading-text">Grade 10</span>
                <span class="info-box-sub-heding-text">120 students</span>
              </div>
              <div class="right">
                <span class="info-box-heading-text">86.5%</span>
                <span class="info-box-sub-heding-text">Average</span>
              </div>
            </div>
            <div class="info-box-content container">
              <div class="left">
                <span class="info-box-heading-text">Grade 10</span>
                <span class="info-box-sub-heding-text">120 students</span>
              </div>
              <div class="right">
                <span class="info-box-heading-text">86.5%</span>
                <span class="info-box-sub-heding-text">Average</span>
              </div>
            </div>
            <div class="info-box-content container">
              <div class="left">
                <span class="info-box-heading-text">Grade 10</span>
                <span class="info-box-sub-heding-text">120 students</span>
              </div>
              <div class="right">
                <span class="info-box-heading-text">86.5%</span>
                <span class="info-box-sub-heding-text">Average</span>
              </div>
            </div>
            <div class="info-box-content container">
              <div class="left">
                <span class="info-box-heading-text">Grade 10</span>
                <span class="info-box-sub-heding-text">120 students</span>
              </div>
              <div class="right">
                <span class="info-box-heading-text">86.5%</span>
                <span class="info-box-sub-heding-text">Average</span>
              </div>
            </div>
          </div>
        </div>

        <div class="container info-box-medium right-most">
          <div class="heading">
            <span class="heading-text">Subject Performance</span>
            <span class="sub-heding-text">Average performance by subject</span>
          </div>
          <div class="content">
            <div class="info-box-content container">
              <div class="left">
                <span class="info-box-heading-text">Mathematics</span>
                <span class="info-box-sub-heding-text">8 teachers</span>
              </div>
              <div class="right">
                <span class="info-box-heading-text">86.5%</span>
                <!-- <span class="info-box-sub-heding-text">Average</span> -->
              </div>
            </div>
            <div class="info-box-content container">
              <div class="left">
                <span class="info-box-heading-text">Mathematics</span>
                <span class="info-box-sub-heding-text">8 teachers</span>
              </div>
              <div class="right">
                <span class="info-box-heading-text">86.5%</span>
                <!-- <span class="info-box-sub-heding-text">Average</span> -->
              </div>
            </div>
            <div class="info-box-content container">
              <div class="left">
                <span class="info-box-heading-text">Mathematics</span>
                <span class="info-box-sub-heding-text">8 teachers</span>
              </div>
              <div class="right">
                <span class="info-box-heading-text">86.5%</span>
                <!-- <span class="info-box-sub-heding-text">Average</span> -->
              </div>
            </div>
            <div class="info-box-content container">
              <div class="left">
                <span class="info-box-heading-text">Mathematics</span>
                <span class="info-box-sub-heding-text">8 teachers</span>
              </div>
              <div class="right">
                <span class="info-box-heading-text">86.5%</span>
                <!-- <span class="info-box-sub-heding-text">Average</span> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottem">
        <div class="container info-box-large">
          <div class="heading">
            <span class="heading-text">Academic Perfomance Overview</span>
            <span class="sub-heding-text">school-wide academic statistics</span>
          </div>
          <div class="info-line">
            <span class="info-line-item">
              <select
                name="select-teacher"
                id="select-teacher"
                class="select-box"
              >
                <option value="" disabled selected>Select Teacher</option>
                <option value="jinendra">R K K Jinendra</option>
                <option value="senuru">Senuru D S Senaweera</option>
                <option value="rasmsitha">S K T Rasmsitha</option>
                <option value="ananda">R S R G A A Ananda</option>
              </select>
            </span>
            <span class="info-line-item">
              <select name="select-class" id="select-class" class="select-box">
                <option value="" disabled selected>Select Class</option>
                <option value="jinendra">R K K Jinendra</option>
                <option value="senuru">Senuru D S Senaweera</option>
                <option value="rasmsitha">S K T Rasmsitha</option>
                <option value="ananda">R S R G A A Ananda</option>
              </select>
            </span>
            <span class="info-line-item">
              <button class="btn">Assign Class</button>
            </span>
          </div>
          <div class="content">
            <table class="table">
              <tr class="table-row">
                <th class="table-head"></th>
              </tr>
              <tr class="table-row">
                <td class="table-data"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
