<div class="mpDashboard">
  <!-- top section -->
  <div class="top">
    <div class="container info-box-small data-box">
      <span class="info-box-heading">Total Students</span>
      <span class="info-box-sub-heading heading-blue">1245</span>
    </div>
    <div class="container info-box-small data-box">
      <span class="info-box-heading">Total Teachers</span>
      <span class="info-box-sub-heading heading-blue">108</span>
    </div>
    <div class="container info-box-small data-box">
      <span class="info-box-heading">Pending Requests</span>
      <span class="info-box-sub-heading heading-red">1245</span>
    </div>
    <div class="container info-box-small data-box">
      <span class="info-box-heading">School Average</span>
      <span class="info-box-sub-heading heading-green">86.1%</span>
    </div>
  </div>

  <!-- nab bar -->
  <div class="nav">
    <div class="nav-item active" data-target="management">Management</div>
    <div class="nav-item" data-target="academic">Academic</div>
    <div class="nav-item" data-target="requests">Requests</div>
    <div class="nav-item" data-target="events">Events</div>
    <div class="nav-item" data-target="reports">Reports</div>
  </div>
  <div class="bottem active" id="management">
    <div class="box">
      <div class="container info-box-medium">
        <div class="heading-section">
          <span class="heading-text">Add New User</span>
          <span class="sub-heading-text"
            >Create new student, teacher or staff account</span
          >
        </div>
        <div class="content">
          <div class="info-box content">
            <div class="row">
              <div class="text-field">
                <span class="heading">User Type</span>
                <select name="User" id="" class="select-box">
                  <option value="" selected disabled>Select User type</option>
                  <option value="">Metting</option>
                  <option value="">Audience</option>
                  <option value="">Sport</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="text-field">
                <span class="heading">First Name</span>
                <input
                  type="text"
                  placeholder="First Name"
                  class="select-box"
                />
              </div>
              <div class="text-field">
                <span class="heading">Last Name</span>
                <input type="text" placeholder="Last Name" class="select-box" />
              </div>
            </div>
            <div class="row">
              <div class="text-field">
                <span class="heading">Email</span>
                <input type="email" placeholder="Email" class="select-box" />
              </div>
            </div>
            <div class="row">
              <div class="text-field">
                <span class="heading">Phone</span>
                <input
                  type="number"
                  placeholder="Phone number"
                  class="select-box"
                />
              </div>
            </div>
            <div class="row">
              <div class="text-field">
                <span class="info-line-item">
                  <button class="btn btn-blue">Add New User</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container info-box-medium">
        <div class="heading-section">
          <span class="heading-text">Recent Users</span>
          <span class="sub-heading-text">Recently added users</span>
        </div>
        <div class="content">
          <div class="info-box-content container">
            <div class="left">
              <span class="info-box-heading-text">M M Thasiya</span>
              <span class="info-box-sub-heding-text">Student - nov 10</span>
            </div>
            <div class="right">
              <label for="" class="label label-blue">Active</label>
            </div>
          </div>
          <div class="info-box-content container">
            <div class="left">
              <span class="info-box-heading-text">M M Thasiya</span>
              <span class="info-box-sub-heding-text">Student - nov 10</span>
            </div>
            <div class="right">
              <label for="" class="label label-blue">Active</label>
            </div>
          </div>
          <div class="info-box-content container">
            <div class="left">
              <span class="info-box-heading-text">M M Thasiya</span>
              <span class="info-box-sub-heding-text">Student - nov 10</span>
            </div>
            <div class="right">
              <label for="" class="label">Pending</label>
            </div>
          </div>
          <div class="info-box-content container">
            <div class="left">
              <span class="info-box-heading-text">M M Thasiya</span>
              <span class="info-box-sub-heding-text">Student - nov 10</span>
            </div>
            <div class="right">
              <label for="" class="label label-blue">Active</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="container info-box-large">
        <div class="heading-section">
          <span class="heading-text">User Directory</span>
          <span class="sub-heading-text">Manage all system users</span>
        </div>
        <div class="content">
          <div class="row">
            <div class="text-field left">
              <input
                type="number"
                placeholder="Search users ..."
                class="select-box"
              />
            </div>
            <div class="text-field" style="flex: 0.1">
              <button class="btn">Search</button><br />
            </div>
            <div style="flex: 0.2">
              <select name="Filter" id="" class="select-box text-field">
                <option value="" selected disabled>Filter</option>
                <option value="Teacher"></option>
                <option value="Student "></option>
              </select>
            </div>
          </div>
          <table class="table">
            <tr class="table-row">
              <th class="table-head">Name</th>
              <th class="table-head">Type</th>
              <th class="table-head">Email</th>
              <th class="table-head">Status</th>
              <th class="table-head">Actions</th>
            </tr>
            <tr class="table-row">
              <td class="table-data">Adiya</td>
              <td class="table-data">Student</td>
              <td class="table-data">adith@gmail.com</td>
              <td class="table-data">
                <label for="status" class="label label-blue">Active</label>
              </td>
              <td class="table-data">
                <div class="row">
                  <button class="btn">Edit</button>
                  <button class="btn btn-red">Delete</button>
                </div>
              </td>
            </tr>
            <tr class="table-row">
              <td class="table-data">Adiya</td>
              <td class="table-data">Student</td>
              <td class="table-data">adith@gmail.com</td>
              <td class="table-data">
                <label for="status" class="label">Pending</label>
              </td>
              <td class="table-data">
                <div class="row">
                  <button class="btn">Edit</button>
                  <button class="btn btn-red">Delete</button>
                </div>
              </td>
            </tr>
            <tr class="table-row">
              <td class="table-data">Adiya</td>
              <td class="table-data">Teacher</td>
              <td class="table-data">adith@gmail.com</td>
              <td class="table-data">
                <label for="status" class="label label-blue">Active</label>
              </td>
              <td class="table-data">
                <div class="row">
                  <button class="btn">Edit</button>
                  <button class="btn btn-red">Delete</button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- academic panel -->
  <div class="bottem" id="academic">
    <div class="box">
      <div class="container info-box-medium left-most">
        <div class="heading-section">
          <span class="heading-text">Academic Perfomance Overview</span>
          <span class="sub-heding-text">school-wide academic statistics</span>
        </div>
        <div class="content">
          <div class="info-box-content container">
            <div class="left">
              <span class="info-box-heading-text">Grade 10</span>
              <span class="info-box-sub-heding-text">120 students</span>
            </div>
            <div class="right">
              <span class="info-box-heading-text">86.5%</span>
              <span class="info-box-sub-heding-text">Average</span>
            </div>
          </div>
          <div class="info-box-content container">
            <div class="left">
              <span class="info-box-heading-text">Grade 10</span>
              <span class="info-box-sub-heding-text">120 students</span>
            </div>
            <div class="right">
              <span class="info-box-heading-text">86.5%</span>
              <span class="info-box-sub-heding-text">Average</span>
            </div>
          </div>
          <div class="info-box-content container">
            <div class="left">
              <span class="info-box-heading-text">Grade 10</span>
              <span class="info-box-sub-heding-text">120 students</span>
            </div>
            <div class="right">
              <span class="info-box-heading-text">86.5%</span>
              <span class="info-box-sub-heding-text">Average</span>
            </div>
          </div>
          <div class="info-box-content container">
            <div class="left">
              <span class="info-box-heading-text">Grade 10</span>
              <span class="info-box-sub-heding-text">120 students</span>
            </div>
            <div class="right">
              <span class="info-box-heading-text">86.5%</span>
              <span class="info-box-sub-heding-text">Average</span>
            </div>
          </div>
        </div>
      </div>

      <div class="container info-box-medium right-most">
        <div class="heading-section">
          <span class="heading-text">Subject Performance</span>
          <span class="sub-heding-text">Average performance by subject</span>
        </div>
        <div class="content">
          <div class="info-box-content container">
            <div class="left">
              <span class="info-box-heading-text">Mathematics</span>
              <span class="info-box-sub-heding-text">8 teachers</span>
            </div>
            <div class="right">
              <span class="info-box-heading-text">86.5%</span>
              <!-- <span class="info-box-sub-heding-text">Average</span> -->
            </div>
          </div>
          <div class="info-box-content container">
            <div class="left">
              <span class="info-box-heading-text">Mathematics</span>
              <span class="info-box-sub-heding-text">8 teachers</span>
            </div>
            <div class="right">
              <span class="info-box-heading-text">86.5%</span>
              <!-- <span class="info-box-sub-heding-text">Average</span> -->
            </div>
          </div>
          <div class="info-box-content container">
            <div class="left">
              <span class="info-box-heading-text">Mathematics</span>
              <span class="info-box-sub-heding-text">8 teachers</span>
            </div>
            <div class="right">
              <span class="info-box-heading-text">86.5%</span>
              <!-- <span class="info-box-sub-heding-text">Average</span> -->
            </div>
          </div>
          <div class="info-box-content container">
            <div class="left">
              <span class="info-box-heading-text">Mathematics</span>
              <span class="info-box-sub-heding-text">8 teachers</span>
            </div>
            <div class="right">
              <span class="info-box-heading-text">86.5%</span>
              <!-- <span class="info-box-sub-heding-text">Average</span> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="container info-box-large">
        <div class="heading-section">
          <span class="heading-text">Teachers Workload Management</span>
          <span class="sub-heding-text"
            >Assign and manage teacher schedule</span
          >
        </div>
        <div class="info-line">
          <span class="info-line-item">
            <select
              name="select-teacher"
              id="select-teacher"
              class="select-box"
            >
              <option value="" disabled selected>Select Teacher</option>
              <option value="jinendra">R K K Jinendra</option>
              <option value="senuru">Senuru D S Senaweera</option>
              <option value="rasmsitha">S K T Rasmsitha</option>
              <option value="ananda">R S R G A A Ananda</option>
            </select>
          </span>
          <span class="info-line-item">
            <select name="select-class" id="select-class" class="select-box">
              <option value="" disabled selected>Select Class</option>
              <option value="jinendra">R K K Jinendra</option>
              <option value="senuru">Senuru D S Senaweera</option>
              <option value="rasmsitha">S K T Rasmsitha</option>
              <option value="ananda">R S R G A A Ananda</option>
            </select>
          </span>
          <span class="info-line-item">
            <button class="btn btn-blue">Assign Class</button>
          </span>
        </div>
        <div class="content">
          <table class="table">
            <tr class="table-row">
              <th class="table-head">Teacher</th>
              <th class="table-head">Class Assigned</th>
              <th class="table-head">Weekly hours</th>
              <th class="table-head">Status</th>
            </tr>
            <tr class="table-row">
              <td class="table-data">Kala</td>
              <td class="table-data">4 classes</td>
              <td class="table-data">24 hours</td>
              <td class="table-data">
                <label for="status" class="label label-green">Normal</label>
              </td>
            </tr>
            <tr class="table-row">
              <td class="table-data">Seni</td>
              <td class="table-data">1 classes</td>
              <td class="table-data">6 hours</td>
              <td class="table-data">
                <label for="status" class="label label-blue">Low</label>
              </td>
            </tr>
            <tr class="table-row">
              <td class="table-data">kala</td>
              <td class="table-data">10 classes</td>
              <td class="table-data">30 hours</td>
              <td class="table-data">
                <label for="status" class="label label-red">High</label>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- requests panel -->
  <div class="bottem" id="requests">
    <div class="box">
      <div class="container info-box-large">
        <div class="heading-section">
          <span class="heading-text">Pending Leave Requests</span>
          <span class="sub-heding-text">Review and approve leave requests</span>
        </div>
        <div class="info-box container">
          <div class="left">
            <span class="heading-name">K K Jina</span>
            <span class="sub-heading">Teacher - Nov 25 2025</span>
            <span class="sub-heading-bolt">Medical Leave</span>
            <span class="sub-heading">Submitted on Nov 15 2025</span>
            <div class="bottem">
              <button class="btn btn-green">Approve</button>
              <button class="btn btn-red">Reject</button>
              <button class="btn">View details</button>
            </div>
          </div>
          <div class="right">
            <label for="status" class="label">Pending</label>
          </div>
        </div>
        <div class="info-box container">
          <div class="left">
            <span class="heading-name">K K Jina</span>
            <span class="sub-heading">Teacher - Nov 25 2025</span>
            <span class="sub-heading-bolt">Medical Leave</span>
            <span class="sub-heading">Submitted on Nov 15 2025</span>
            <div class="bottem">
              <button class="btn btn-green">Approve</button>
              <button class="btn btn-red">Reject</button>
              <button class="btn">View details</button>
            </div>
          </div>
          <div class="right">
            <label for="status" class="label">Pending</label>
          </div>
        </div>
        <div class="info-box container">
          <div class="left">
            <span class="heading-name">K K Jina</span>
            <span class="sub-heading">Teacher - Nov 25 2025</span>
            <span class="sub-heading-bolt">Medical Leave</span>
            <span class="sub-heading">Submitted on Nov 15 2025</span>
            <div class="bottem">
              <button class="btn btn-green">Approve</button>
              <button class="btn btn-red">Reject</button>
              <button class="btn">View details</button>
            </div>
          </div>
          <div class="right">
            <label for="status" class="label">Pending</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- events panel -->
  <div class="bottem" id="events">
    <div class="box">
      <div class="container info-box-large">
        <div class="heading-section">
          <span class="heading-text">Create School Event</span>
          <span class="sub-heding-text"
            >Schedule new event and add to calender</span
          >
        </div>
        <div class="content">
          <div class="row">
            <div class="text-field">
              <span class="heading">Event Title</span>
              <input type="text" placeholder="Event Name" class="select-box" />
            </div>

            <div class="text-field">
              <span class="heading">Evant Type</span>
              <select name="Event" id="" class="select-box">
                <option value="" selected disabled>Select type</option>
                <option value="">Metting</option>
                <option value="">Audience</option>
                <option value="">Sport</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="text-field">
              <span class="heading">Date</span>
              <input type="date" placeholder="dd/mm/yyyy" class="select-box" />
            </div>
            <div class="text-field">
              <span class="heading">Time</span>
              <input type="time" placeholder="../.." class="select-box" />
            </div>
          </div>
          <div class="row">
            <div class="text-field">
              <span class="heading">Description</span>
              <textarea
                type="text"
                placeholder="Event Description"
                class="select-box deescription"
                rows="8"
              ></textarea>
            </div>
          </div>
          <div class="row">
            <div class="text-field">
              <span class="heading">Target Audience</span>
              <select name="Event" id="" class="select-box">
                <option value="" selected disabled>Select Audience</option>
                <option value="">Teachers</option>
                <option value="">Student</option>
                <option value="">Parent</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="text-field">
              <button class="btn btn-blue">Create Event</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="container info-box-large">
        <div class="heading-section">
          <span class="heading-text">Upcomming Event</span>
          <span class="sub-heding-text">Manage schedule events</span>
        </div>
        <div class="content">
          <div class="container info-box">
            <div class="left">
              <span class="heading-name">Parent Teacher Conferance</span>
              <span class="sub-heading">Nov 25 2025</span>
              <span>Parent & Teachers</span>
            </div>
            <div class="right two-com">
              <label class="label com">Pending</label>
              <button class="btn com">Edit</button>
            </div>
          </div>
          <div class="container info-box">
            <div class="left">
              <span class="heading-name">Parent Teacher Conferance</span>
              <span class="sub-heading">Nov 25 2025</span>
              <span>Parent & Teachers</span>
            </div>
            <div class="right two-com">
              <label class="label com">Pending</label>
              <button class="btn com">Edit</button>
            </div>
          </div>
          <div class="container info-box">
            <div class="left">
              <span class="heading-name">Parent Teacher Conferance</span>
              <span class="sub-heading">Nov 25 2025</span>
              <span>Parent & Teachers</span>
            </div>
            <div class="right two-com">
              <label class="label com">Pending</label>
              <button class="btn com">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- report panel -->
  <div class="bottem" id="reports">
    <div class="box">
      <div class="container info-box-medium">
        <div class="heading-section">
          <span class="heading-text">Generate Reports</span>
          <span class="sub-heding-text"
            >Grenerate comprehensive school report</span
          >
        </div>
        <div class="content">
          <div class="row">
            <div class="text-field">
              <span class="heading">Report Type</span>
              <select name="Event" id="" class="select-box">
                <option value="" selected disabled>Select report type</option>
                <option value="">Teachers</option>
                <option value="">Student</option>
                <option value="">Parent</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="text-field">
              <span class="heading">From Date</span>
              <input type="date" placeholder="dd/mm/yyyy" class="select-box" />
            </div>
            <div class="text-field">
              <span class="heading">To Date</span>
              <input type="date" placeholder="dd/mm/yyyy" class="select-box" />
            </div>
          </div>
          <div class="row">
            <div class="text-field">
              <button class="btn btn-blue">Generate Report</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container info-box-medium">
        <div class="heading-section">
          <span class="heading-text">System Analytics</span>
          <span class="sub-heding-text">Real-time system usage statistics</span>
        </div>
        <div class="content">
          <div class="row">
            <span>Active Users Today</span>
            <span class="heading heading-blue">867</span>
          </div>
          <div class="row">
            <span>Login Success Rate</span>
            <span class="heading">97.3%</span>
          </div>
          <div class="row">
            <span>System Uptime</span>
            <span class="heading">99.9%</span>
          </div>
          <div class="row">
            <span>Data Backup Status</span>
            <span class="label label-green">Current</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer section -->
  <div class="footer">
    <div class="container info-large-box">
      <div class="heading-section">
        <span class="heading-text">School Perfomance Overview</span>
        <span class="sub-heding-text">Key performance indicators</span>
      </div>
      <div class="content">
        <div class="row">
          <div class="data-box">
            <span class="heading heading-green"> 94.2% </span>
            <span class="sub-heading-text">Average Attendence</span>
          </div>
          <div class="data-box">
            <span class="heading heading-blue"> 83.2% </span>
            <span class="sub-heading-text">Acadamic Average </span>
          </div>
          <div class="data-box">
            <span class="heading heading-red"> 15 </span>
            <span class="sub-heading-text">Teacher Vacancies</span>
          </div>
          <div class="data-box">
            <span class="heading heading-green"> 92.2% </span>
            <span class="sub-heading-text">Parent Satisfaction</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
