<html>
  <div class="sum-boxes">
    <div class="sum-box-left">
      <div class="summary-box">
        <span class="summary-title">Total Students</span>
        <span class="summary-value">156</span>
      </div>

      <div class="summary-box">
        <span class="summary-title">Classes Today</span>
        <span class="summary-value">7</span>
      </div>
    </div>

    <div class="sum-box-right">
      <div class="summary-box">
        <span class="summary-title">Pending Marks</span>
        <span class="summary-value">4</span>
      </div>

      <div class="summary-box">
        <span class="summary-title">Leaves Left</span>
        <span class="summary-value">30</span>
      </div>
    </div>
  </div>
</html>
