<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <base href="/projectIskole/">

    <link rel="stylesheet" href="/projectIskole/public/css/sumTab.css">
</head>
<body>
    <div class="sum-boxes">
        <div class="left-box-1">
            <span class="left-box-1-title">Total Students</span>
            <span class="left-box-1-value">156</span>
        </div>

        <div class="left-box-2">
            <span class="left-box-2-title">Classes Today</span>
            <span class="left-box-2-value">7</span>
        </div>

        <div class="left-box-3">
            <span class="left-box-3-title">Pending Marks</span>
            <span class="left-box-3-value">4</span>
        </div>

        
        <div class="left-box-4">
            <span class="left-box-4-title">Leaves Left</span>
            <span class="left-box-4-value">30</span>
        </div>
    </div>

</body>
</html>