<html>
  <div class="sum-boxes">
    <div class="sum-box-left">
      <div class="summary-box">
        <span class="summary-title">Announcements Published Today</span>
        <span class="summary-value-1">02</span>
      </div>

      <div class="summary-box">
        <span class="summary-title">Today Periods</span>
        <span class="summary-value-2">07</span>
      </div>
    </div>

    <div class="sum-box-right">
      <div class="summary-box">
        <span class="summary-title">Reliefs</span>
        <span class="summary-value-3">04</span>
      </div>

      <div class="summary-box">
        <span class="summary-title">Leaves Left</span>
        <span class="summary-value-4">30</span>
      </div>
    </div>
  </div>
</html>
