<html lang="en">
  <div class="teacher-body">
    <!--NavBar-->
    <nav class="teacher-navbar">
      <ul class="nav-links">
        <li class="nav-item active-item" id="active" onclick="tabChange(0)">
          Announcement
        </li>
        <li class="nav-item" onclick="tabChange(1)">Attendance</li>
        <li class="nav-item" onclick="tabChange(2)">Materials</li>
        <li class="nav-item" onclick="tabChange(3)">Reports</li>
        <li class="nav-item" onclick="tabChange(4)">Leave</li>
        <li class="nav-item" onclick="tabChange(5)">Student Absence</li>
        <li class="nav-item" onclick="tabChange(6)">Releaf</li>
        <li class="nav-item" onclick="tabChange(7)">Marks Entry</li>
      </ul>
    </nav>

    <!--Nav1 : Announcement-->
    <section class="announcement-entry tab-panel active-tab">
      <div class="view-announcements">
        <div class="heading">
          <h1 class="first-heading">Recent Announcement</h1>
          <p class="first-description">Announcements from heads</p>
        </div>

        <div class="announcement-list">
          <div class="announcement-item">
            <div class="announcement-item-container1">
              <h2 class="announcement-title">There will be system maintenance</h2>
              <span class="announcemt-sender">From: Admin</span>
              <p class="announcement-content">
                2026/12/01 will system freez for maintenance
              </p>
            </div>

            <p class="announcement-date">Date: 2025-10-01</p>
          </div>

          <div class="announcement-item">
            <div class="announcement-item-container1">
              <h2 class="announcement-title">Staff Meeting</h2>
              <span class="announcemt-sender">From: Management Panel</span>
              <p class="announcement-content">
                2026/12/01 at 12.00 there will be a staff meeting in the conference room.
              </p>
            </div>

            <p class="announcement-date">Date: 2025-10-02</p>
          </div>
        </div>
      </div>

      <div class="published-announcements">
        <div class="heading">
          <h1 class="first-heading">Published Announcement</h1>
          <p class="first-description">Announcements published by you</p>
        </div>

        <div class="announcement-list">

          <div class="announcement-item">
            <div class="announcement-item-container1">
              <h2 class="announcement-title">Parents meeting</h2>
              <span class="announcemt-receiver">To: Parents</span>
              <p class="announcement-content">
                On 2025-10-02 we planned to have a parents meeting at 10.00 AM in the school auditorium.
              </p>
            </div>

            <div class="announcement-item-container2">
              <p class="announcement-date">Date: 2023-10-01</p>
              <div class="announcement-actions">
                <button class="edit-announcement-btn">Edit</button>
                <button class="delete-announcement-btn">Delete</button>
              </div>
            </div>
          </div>

          <div class="announcement-item">
            <div class="announcement-item-container1">
              <h2 class="announcement-title">Parents meeting for Term</h2>
              <span class="announcemt-receiver">To: Students</span>
              <p class="announcement-content">
                On 2025-10-02 we planned to have a parents meeting at 10.00 AM in the school auditorium.
              </p>
            </div>

            <div class="announcement-item-container2">
              <p class="announcement-date">Date: 2023-10-02</p>
              <div class="announcement-actions">
                <button class="edit-announcement-btn">Edit</button>
                <button class="delete-announcement-btn">Delete</button>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="create-announcement">
        <div class="heading">
          <h1 class="first-heading">Create Announcement</h1>
          <p class="first-description">
            Share important information with students and parents
          </p>
        </div>

        <form action="#">
          <div class="announcement-form">
            <label for="announcement-title" class="announcement-label"
              >Title:</label
            >
            <input
              type="text"
              id="announcement-title"
              name="announcement-title"
              class="announcement-input"
              placeholder="Enter title"
            />

            <label for="message" class="announcement-label"
              >Announcement Content:</label
            >
            <textarea
              id="message"
              name="message"
              class="announcement-textarea"
              placeholder="Write your announcement here..."
              rows="6"
            ></textarea>

            <label for="target-audience" class="announcement-label"
              >Target Audience:</label
            >
            <select
              id="target-audience"
              name="target-audience"
              class="announcement-select"
            >
              <option value="null">Select Audience</option>
              <option value="students">Students</option>
              <option value="parents">Parents</option>
              <option value="students&parent">Student & Parent</option>
            </select>
          </div>
          <!-- Submit Marks Button -->
          <div class="submit-btn">
            <button type="submit" class="publish-announcement-btn">
              Publish Announcement
            </button>
          </div>
        </form>
      </div>
    </section>

    <!--Nav2 : Attendance-->
    <section class="attendance-entry tab-panel">
      <div class="heading">
        <h1 class="first-heading">Mark Attendance</h1>
        <p class="first-description">
          Record daily attendence for your classes
        </p>
      </div>

      <div class="attendance-filter">
        <form action="#" method="POST">
          <div class="form-filter-tabs">
            <div class="grade-tab">
              <label for="grade" class="tab-label">Select Grade:</label>
              <select name="Grade" id="Grade" class="tab-select">
                <option value="null"></option>
                <option value="6" class="mark-tabs-option">6</option>
                <option value="7" class="mark-tabs-option">7</option>
                <option value="8" class="mark-tabs-option">8</option>
                <option value="9" class="mark-tabs-option">9</option>

              </select>
            </div>

            <div class="class-tab">
              <label for="class" class="tab-label">Select Class:</label>
              <select name="class" id="Grade" class="tab-select">
                <option value="null"></option>
                <option value="A">A</option>
                <option value="B">B</option>
              </select>
            </div>

            <div class="date-tab">
              <label for="date" class="tab-label">Select Date:</label>
              <input type="date" name="date" id="date" class="tab-select" min="2025-07-01" max="2025-08-24" />
            </div>

            <div class="search-btn-container">
              <button type="submit" class="search-btn">
                <img
                  src="/projectIskole/public/assests/search.png"
                  alt="search icon"
                  height="40px"
                  width="40px"
                />
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="attendance-table">
        <form action="#">
          <!-- Attendance Table -->
          <table class="attendance-table-content">
            <thead>
              <tr>
                <th class="rollnumber">Reg Number</th>
                <th class="studentName">Student Name</th>
                <th class="status">Status</th>
                <th class="change-attendence">Change</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>101</td>
                <td>John Doe</td>
                <td>Present</td>
                <td>
                  <button class="present-btn">Present</button>
                  <button class="absent-btn">Absent</button>
                </td>
              </tr>
              <tr>
                <td>102</td>
                <td>Jane Smith</td>
                <td>Absent</td>
                <td>
                  <button class="present-btn">Present</button>
                  <button class="absent-btn">Absent</button>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="save-cancel-btns">
            <div class="cancel-btn">
              <button type="reset" class="cancel-attendance-btn">Cancel</button>
            </div>

            <div class="save-btn">
              <button type="submit" class="save-attendance-btn">
                Submit Attendance
              </button>
            </div>
          </div>
        </form>
      </div>
    </section>

    <!--Nav4 : Materials-->
    <section class="material-entry tab-panel">
      <div class="heading">
        <h1 class="first-heading">Upload Teaching Materials</h1>
        <p class="first-description">
          Share lesson plans and worksheets with students
        </p>
      </div>

      <div class="upload-section">
        <form
          action="../../Controllers/materialController.php"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="form-filter-tabs">
            <div class="grade-tab">
              <label for="grade" class="tab-label">Select Grade:</label>
              <select name="grade" id="Grade" class="tab-select" required>
                <option value="null"></option>
                <option value="06" class="mark-tabs-option">06</option>
                <option value="07" class="mark-tabs-option">07</option>
                <option value="08" class="mark-tabs-option">08</option>
                <option value="09" class="mark-tabs-option">09</option>
              </select>
            </div>

            <div class="class-tab">
              <label for="class" class="tab-label">Select Class:</label>
              <select name="class" id="Grade" class="tab-select" required>
                <option value="null"></option>
                <option value="A">A</option>
                <option value="B">B</option>
              </select>
            </div>

            <div class="subject-tab">
              <label for="subject" class="tab-label">Select subject:</label>
              <select name="subject" id="subject" class="tab-select" required>
                <option value="null"></option>
                <option value="1">Maths</option>
                <option value="2">Science</option>
                <option value="3">English</option>
                <option value="4">History</option>
                <option value="5">Geography</option>
                <option value="6">Art</option>
                <option value="7">PTS</option>
                <option value="8">Physical Education</option>
              </select>
            </div>
          </div>

          <div class="uploadform-elements">
            <label for="material-title" class="material-label"
              >Material Title:</label
            >
            <input
              type="text"
              id="material-title"
              name="material-title"
              class="material-input"
              placeholder="Enter title"
              required
            />

            <label for="material-description" class="material-label"
              >Description:</label
            >
            <textarea
              id="material-description"
              name="material-description"
              class="material-textarea"
              placeholder="Write a brief description..."
              rows="4"
              required
            ></textarea>

            <label for="file-upload" class="material-label">Upload File:</label>
            <input
              type="file"
              id="file-upload"
              name="file-upload"
              class="material-file-input"
            />
          </div>

          <div class="submit-btn">
            <button type="submit" name="submit" class="publish-material-btn">
              Publish Material
            </button>
          </div>
        </form>
      </div>

      <div class="material-list">
        <div class="heading">
          <h1 class="first-heading">Uploaded Materials</h1>
          <p class="first-description">Materials uploaded by you</p>
        </div>

        <div class="material-list">
          <div class="material-item">
            <div class="material-item-container1">
              <h2 class="material-title">Material Title</h2>
              <p class="material-content">
                This is the content of the material. It contains important
                information for students and parents.
              </p>
            </div>

            <div class="material-item-right">
              <p class="material-date">Date: 2023-10-01</p>
              <button class="remove-btn">Remove</button>
            </div>
          </div>

          <div class="material-item">
            <div class="material-item-container1">
              <h2 class="material-title">Material Title</h2>
              <p class="material-content">
                This is the content of the material. It contains important
                information for students and parents.
              </p>
            </div>

            <div class="material-item-right">
              <p class="material-date">Date: 2023-10-01</p>
              <button class="remove-btn">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Nav5 : Reports-->
    <section class="reports-entry tab-panel">
      <div class="heading">
        <h1 class="first-heading">Student Reports</h1>
        <p class="first-description">
          View student progress reports & Behavior reports
        </p>
      </div>

      <div class="center-container">
        <div class="search-container">
          <input type="text" placeholder="Search..." id="searchInput" />
          <button type="submit">Search</button>
        </div>

        <div class="student-container">
          <div class="details">
            <h2 class="student-name">Seniru Senaweera</h2>
            <p class="student-grade">Grade: 06</p>
            <p class="student-class">Class: A</p>
            <p class="student-roll-number">Student Number: 101</p>
            <p class="student-email">Email: seniru@gmail.com</p>
            <p class="student-phone">Phone: +94702222676</p>
            <p class="student-address">Address: 123 Main St, City, Sri Lanka</p>
            <p class="student-dob">Date of Birth: 2005-01-01</p>
          </div>

          <div class="performance-report">
            <h3 class="report-title">Performance Report</h3>
            <div class="marksofthestudent">
              <!-- <table>
                <thead>
                  <tr>
                    <th>Subject</th>
                    <th>Term 1</th>
                    <th>Term 2</th>
                    <th>Term 3</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mathematics</td>
                    <td>60</td>
                    <td>70</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>Science</td>
                    <td>60</td>
                    <td>70</td>
                    <td>80</td>
                  </tr>
                </tbody>
              </table> -->

              <h3>Bar graph will be added here after completing backend</h3>
            </div>
            <div class="overall-averages">
              <ul>
                <li>Overall Average: 70%</li>
                <li>Secttion Rank: 5</li>
                <li>Class Rank: 1</li>
              </ul>
            </div>
          </div>

          <div class="behavior-report">
            <h3 class="report-title">Behavior Report</h3>
            <div class="behavior-update">
              <form action="">
                <label for="behavior-update">Update Behavior:</label>
                <textarea
                  id="behavior-update"
                  name="behavior-update"
                  rows="4"
                  placeholder="Enter behavior update..."
                ></textarea>
                <button type="submit" class="update-behavior-btn">
                  Update Behavior
                </button>
              </form>
            </div>
          </div>

          <div class="recent-behavior-updates behavior-report">
            <h3 class="report-title">Recent Behavior Updates</h3>
            <ul>
              <li>Improved participation in class discussions.</li>
              <li>Completed all homework assignments on time.</li>
              <li>Helped classmates with difficult subjects.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!--Nav6 : leave-request-->
    <section class="leave-request tab-panel">
      <div class="submit-leave-req">
        <div class="heading">
          <h1 class="first-heading">Request For Leaves</h1>
          <p class="first-description">Fill this leave request form</p>
        </div>
        <form action="" class="leave-form">
          <label for="date-from">Date From</label>
          <input type="date" name="date-from" id="date-from" required />

          <label for="date-to">Date To</label>
          <input type="date" name="date-to" id="date-to" required />

          <label>Type of leave</label>
          <div class="radio-group">
            <div class="radio-option">
              <input
                type="radio"
                name="leave-type"
                id="medical-leave"
                value="medical"
                required
              />
              <label for="medical-leave">Medical Leave</label>
            </div>
            <div class="radio-option">
              <input
                type="radio"
                name="leave-type"
                id="personal-leave"
                value="personal"
                required
              />
              <label for="personal-leave">Personal Leave</label>
            </div>
            <div class="radio-option">
              <input
                type="radio"
                name="leave-type"
                id="Duty-leave"
                value="Duty"
                required
              />
              <label for="Duty-leave">Duty Leave</label>
            </div>
          </div>

          <div class="buttons">
            <button type="reset">Reset</button>
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>

      <div class="view-leave-req">
        <div class="heading">
          <h1 class="first-heading">My Leave Requests</h1>
          <p class="first-description">You requested following leaves</p>
        </div>

        <div class="leave-item">
          <div class="leave-item-container1">
            <h2 class="leave-title">Sick Leave</h2>
            <span class="announcemt-sender">From: 01/01/2025</span>
            <span class="announcemt-sender">To: 02/01/2025</span>
            <p class="leave-content">This is the reason for leave</p>
          </div>

          <p class="leave-date">Requested Date: 2023-10-01</p>
        </div>

        <div class="leave-item">
          <div class="leave-item-container1">
            <h2 class="leave-title">Sick Leave</h2>
            <span class="announcemt-sender">From: 01/01/2025</span>
            <span class="announcemt-sender">To: 02/01/2025</span>
            <p class="leave-content">This is the reason for leave</p>
          </div>

          <p class="leave-date">Requested Date: 2023-10-01</p>
        </div>
      </div>
    </section>

    <!--Nav7 : student-absence-request-->
    <section class="student-absence tab-panel">
      <div class="view-student-absence">
        <div class="heading">
          <h1 class="first-heading">Student Absence Requests</h1>
          <p class="first-description">
            Review and manage student absence requests
          </p>
        </div>

        <div class="absence-item">
          <div class="absence-item-container1">
            <h2 class="absence-title">Student: Kalana J (Reg: 101)</h2>
            <span class="absence-details">Class: 06-A</span>
            <span class="absence-details">From: 01/01/2026</span>
            <span class="absence-details">To: 02/01/2026</span>
            <p class="absence-reason">Reason: Sick Leave - Fever and cold</p>
          </div>
        </div>

        <div class="absence-item">
          <div class="absence-item-container1">
            <h2 class="absence-title">Student: Aditha A (Reg: 102)</h2>
            <span class="absence-details">Class: 07-A</span>
            <span class="absence-details">From: 01/01/2025</span>
            <span class="absence-details">To: 02/01/2025</span>
            <p class="absence-reason">Reason: Sick Leave - Fever and cold</p>
          </div>
        </div>
      </div>
    </section>

    <!--Nav8 : releaf-periods-->
    <section class="releaf-periods tab-panel">
      <div class="view-releaf-periods">
        <div class="heading">
          <h1 class="first-heading">Releaf Periods</h1>
          <p class="first-description">View and manage releaf periods</p>
        </div>

        <div class="releaf-item">
          <table>
            <thead>
              <tr>
                <th>Period</th>
                <th>Grade</th>
                <th>Class</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Period 1</td>
                <td>12</td>
                <td>A</td>
              </tr>
              <tr>
                <td>Period 2</td>
                <td>12</td>
                <td>B</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <!--Nav1 : Marks Entry-->
    <section class="marks-entry tab-panel">
      <div class="heading">
        <h1 class="first-heading">Enter Student Marks</h1>
        <p class="first-description">Record marks for recent examination</p>
      </div>

      <div class="markentry-form">
        <form action="#" method="POST">
          <div class="form-filter-tabs">
            <div class="grade-tab">
              <label for="grade" class="tab-label">Select Grade:</label>
              <select name="Grade" id="Grade" class="tab-select">
                <option value="null"></option>
                <option value="6" class="mark-tabs-option">06</option>
                <option value="7" class="mark-tabs-option">07</option>
                <option value="8" class="mark-tabs-option">08</option>
                <option value="9" class="mark-tabs-option">09</option>
              </select>
            </div>

            <div class="class-tab">
              <label for="class" class="tab-label">Select Class:</label>
              <select name="class" id="Grade" class="tab-select">
                <option value="null"></option>
                <option value="A">A</option>
                <option value="B">B</option>
              </select>
            </div>

            <div class="semester-tab">
              <label for="semester" class="tab-label">Select Term:</label>
              <select name="semester" id="semester" class="tab-select">
                <option value="null"></option>
                <option value="1">Term 1</option>
                <option value="2">Term 2</option>
                <option value="3">Term 3</option>
              </select>
            </div>

            <div class="search-btn-container">
              <button type="submit" class="search-btn">
                <img
                  src="/projectIskole/public/assests/search.png"
                  alt="search icon"
                  height="40px"
                  width="40px"
                />
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="marks-table">
        <form action="#">
          <!-- Marks Entering Table -->
          <table class="marks-table-content">
            <thead>
              <tr>
                <th class="rollnumber">Reg Number</th>
                <th class="studentName">Student Name</th>
                <th class="studentMarks">Marks</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>101</td>
                <td>John Doe</td>
                <td class="input-coloumn">
                  <input
                    type="number"
                    name="marks"
                    min="0"
                    max="100"
                    class="marks-input"
                    placeholder="0-100"
                  />
                  / 100
                </td>
              </tr>
              <tr>
                <td>102</td>
                <td>Jane Smith</td>
                <td class="input-coloumn">
                  <input
                    type="number"
                    name="marks"
                    min="0"
                    max="100"
                    class="marks-input"
                    placeholder="0-100"
                  />
                  / 100
                </td>
              </tr>
            </tbody>
          </table>

          <!-- Submit Marks Button -->
          <div class="submit-btn">
            <button type="submit" class="submit-marks-btn">Submit Marks</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</html>
