.mpDashboard {
  display: flex;
  flex-direction: column;
  width: 80vW;
  padding: 10px 20px; }

.top {
  display: flex;
  justify-content: space-around;
  padding: 0; }

.bottem {
  display: flex;
  justify-content: space-between;
  padding: 0; }

.container {
  background-color: #f5f6fa;
  display: flex;
  flex-direction: column;
  align-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 15px 30px;
  margin: 15px 20px; }
  .container .heading-section {
    display: flex;
    flex-direction: column;
    top: 20px;
    top: 10px;
    margin: 20px 0;
    z-index: 10;
    padding: 10px 0;
    border-bottom: 1px solid #ccc; }
    .container .heading-section .heading-text {
      font-size: 20px;
      font-weight: 500; }

.info-box-heading {
  font-size: 15px;
  color: #333; }

.sub-heding-text {
  font-size: 15px;
  color: gray; }

.sub-heading-text {
  font-size: 15px;
  color: gray; }

.info-box-sub-heading {
  font-size: 25px;
  color: #333;
  font-weight: 800; }

.heading {
  display: flex;
  flex-direction: column; }

.heading-text {
  font-size: 20px;
  font-weight: 700 !important; }

.heading-green {
  color: #03c503 !important; }

.heading-red {
  color: red !important; }

.heading-blue {
  color: #0077e6 !important; }

.info-box-small {
  height: 80px;
  width: 20%;
  transition: all 0.3s ease; }

.info-box-small:hover {
  cursor: pointer; }

.info-box-medium {
  width: 45%; }
  .info-box-medium .info-box-content {
    height: 70px;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center; }
    .info-box-medium .info-box-content .left {
      align-content: center;
      display: flex;
      flex-direction: column;
      position: relative; }
      .info-box-medium .info-box-content .left .info-box-heading-text {
        font-size: 18px;
        font-weight: 500; }
      .info-box-medium .info-box-content .left .info-box-sub-heding-text {
        font-size: 15px;
        color: gray; }
    .info-box-medium .info-box-content .right {
      display: flex;
      flex-direction: column; }
      .info-box-medium .info-box-content .right .info-box-heading-text {
        font-size: 25px;
        font-weight: 500; }
      .info-box-medium .info-box-content .right .info-box-sub-heding-text {
        font-size: 15px;
        color: gray; }

.info-box-large {
  padding: 50px;
  width: 100%; }

.select-box {
  height: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: gray;
  border: none;
  font-weight: 500;
  justify-items: center;
  width: 100%; }

.btn {
  padding: 5px 20px;
  height: 40px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  width: 100%;
  margin: 0 5px;
  margin-left: 0; }

.btn:hover {
  font-weight: 600; }

.btn-blue {
  font-size: 18px;
  background-color: #0077e6;
  border: 1px solid #0077e6;
  color: #f5f6fa;
  font-weight: 500; }

.btn-blue:hover {
  background-color: #005db3; }

.btn-red {
  font-size: 18px;
  background-color: #ff5d1d;
  border: 1px solid #ff5d1d;
  color: #f5f6fa;
  font-weight: 500; }

.btn-red:hover {
  background-color: #e94200; }

.btn-green {
  font-size: 18px;
  background-color: #03c503;
  color: #f5f6fa;
  font-weight: 500;
  border: 1px solid #03c503; }

.btn-green:hover {
  background-color: #029302; }

.info-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding: 0; }
  .info-line .info-line-item {
    width: 100%;
    flex: 1;
    margin: 0 10px;
    display: flex; }

.nav {
  margin: 5px 20px;
  padding: 5px 0;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05); }
  .nav .nav-item {
    flex: 1;
    padding: 2px 40px;
    color: gray;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    border-radius: 15px;
    transition: all 1s ease, color 0.2s ease, border-radius 0.2 ease; }
  .nav .active {
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    color: #000; }
  .nav .nav-item:hover {
    background-color: #ccc; }

.table {
  display: flex;
  flex-direction: column; }
  .table .table-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); }
    .table .table-row .table-head {
      flex: 1;
      text-align: center;
      justify-content: center;
      padding: 5px 10px;
      color: gray;
      font-weight: 500;
      font-size: 18px; }
    .table .table-row .table-data {
      flex: 1;
      text-align: center;
      padding: 5px 10px;
      display: flex;
      justify-content: center; }

.btn-label {
  display: flex;
  height: 20px;
  width: 100px;
  padding: 8px 30px;
  align-content: center;
  text-align: center;
  justify-content: center;
  border-radius: 20px; }

.label-blue {
  font-size: 18px;
  background-color: #0077e6;
  color: #f5f6fa;
  font-weight: 500; }

.label-red {
  font-size: 18px;
  background-color: #ff5d1d;
  color: #f5f6fa;
  font-weight: 500; }

.label-green {
  font-size: 18px;
  background-color: #03c503;
  color: #f5f6fa;
  font-weight: 500;
  border: 1px solid #03c503; }

.info-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .info-box .left {
    flex: 0.4;
    padding: 5px 20px;
    display: flex;
    flex-direction: column; }
    .info-box .left .heading-name {
      font-size: 18px;
      font-weight: 500; }
    .info-box .left .sub-heading {
      font-size: 15px;
      color: gray; }
    .info-box .left .sub-heading-bolt {
      font-size: 15px;
      font-weight: 500; }
    .info-box .left .bottem {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
  .info-box .right {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: left; }
  .info-box .two-com {
    justify-content: space-between;
    flex: 0.2; }
    .info-box .two-com .com {
      margin: 0 10px;
      flex: 1; }

.content {
  padding: 10px 0;
  display: flex;
  flex-direction: column; }

.events {
  flex-direction: column; }

.label {
  display: inline-block;
  border: 1px solid #ccc;
  display: flex;
  font-size: 15px;
  height: 40px;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  min-width: 60px; }

.data-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.bottem {
  display: none;
  flex-direction: column; }

.active {
  display: flex; }

.box {
  width: 100%;
  display: flex;
  flex-direction: row; }

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .row .text-field {
    margin: 10px 20px;
    flex: 1; }
    .row .text-field .heading {
      font-size: 18px;
      font-weight: 500;
      color: gray;
      margin-bottom: 5px; }
  .row .heading {
    font-size: 25px;
    font-weight: 700;
    color: #333;
    margin-bottom: 5px;
    color: #03c503; }

@media (max-width: 1024px) {
  .info-box-small {
    width: 45%;
    margin: 10px auto; }

  .info-box-medium {
    width: 90% !important;
    flex-direction: column; }

  .box {
    flex-direction: column !important;
    align-items: center; }

  .row {
    flex-direction: column !important; }
    .row .text-field {
      width: 100%;
      margin: 10px 0; }

  .nav {
    flex-direction: column !important; }
    .nav .nav-item {
      padding: 10px 20px;
      width: 100%;
      margin: 5px 0; } }
@media (max-width: 600px) {
  .dashboard-header {
    flex-direction: column !important;
    height: auto;
    padding: 10px;
    text-align: center; }

  .info-box-sub-heading {
    font-size: 18px; }

  .heading-text {
    font-size: 18px; }

  .btn {
    font-size: 15px;
    width: 100%; }

  .table-row {
    flex-direction: column;
    height: auto; }
    .table-row .table-data,
    .table-row .table-head {
      padding: 5px;
      text-align: left; }

  .data-box {
    margin-bottom: 10px; } }

/*# sourceMappingURL=management.css.map */
