:root {
  --primary-color:  #f5f6fa;
  --color-red: red;
  --color-blue :blue;
  --color-green:green;
  --font-main: 'Segoe UI', sans-serif;
  --primary-text-color: black;
  --secondry-text-color:gray;
}

body {
  font-family: var(--font-main);
  background: var(--primary-color);
  margin: 0;
  padding: 0;
}

