.sum-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
  margin-top: 5vh;
}

.sum-box-left,
.sum-box-right {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}
.summary-box {
  background-color: #ffffff;
  border-radius: 10px;
  height: 50px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-bottom: 1px solid #0077e6;
  box-shadow: 0 3px 5px rgba(0, 119, 230, 0.8);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-bottom: 20px;
}

.summary-title {
  font-size: 15px;
  color: gray;
  padding-bottom: 8px;
  text-align: center;
}

.summary-value {
  font-size: 20px;
  font-weight: 540;
  color: #333;
  text-align: center;
}

/*Tablet responsive*/
@media screen and (max-width: 1200px) {
  .sum-boxes {
    flex-direction: column;
  }

  .sum-box-left,
  .sum-box-right {
    flex-direction: row;
    justify-content: center;
  }
}

/*Mobile responsive*/
@media screen and (max-width: 630px) {
  .sum-boxes {
    width: 90%;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 5%;
  }
  .summary-box {
    height: auto;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .summary-title {
    font-size: 1rem;
    text-align: left;
    width: 20vw;
  }

  .summary-value {
    text-align: right;
    width: 8vw;
    font-size: 1rem;
  }
}
