@media (max-width: 768px) {
}

body {
  margin: 0;
  padding: 0;
}

.teacher-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Teacher Navbar */
.teacher-navbar {
  height: 30px;
  background-color: #dedede;
  border-radius: 10px;
  z-index: 1000;
  width: 90%;
  margin-top: 50px;
  font-size: 1rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 98%;
  padding: 0;
  margin: 4px;
  margin-left: 9px;
}

.nav-item {
  border-radius: 10px;
  width: 90%;
  cursor: pointer;
  text-align: center;
  height: 20px;
}

.active-item {
  background-color: #ffffff;
  border: 1px solid #0066c3;
  color: #000000;
  transform: scale(1.05);
}

.nav-item:hover {
  transform: scale(1.08);
}

/* Marks entry */
.marks-entry,
.attendance-entry,
.announcement-entry,
.material-entry,
.reports-entry {
  width: 90vw;
  margin: 60px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-width: 450px;
  border: 1px solid #636262;
}

/* nav Tabs display*/
.tab-panel {
  display: none;
  transform: scale(0.95);
}

.active-tab {
  display: flex;
  transform: scale(1);
}

.heading {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.first-heading {
  color: #000000;
  font-size: 35px;
  margin: 0;
}

.first-description {
  color: #000000;
  font-size: 14px;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.form-filter-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  padding: 20px;
}

.grade-tab,
.class-tab,
.semester-tab,
.date-tab,
.subject-tab {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.tab-label {
  font-size: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.tab-select,
.mark-tabs-option {
  border-radius: 7.5px;
  border: 1px solid #b2b2b2;
  padding: 5px;
  font-size: 13px;
  background-color: #f6f6f6;
  height: 40px;
}

.marks-table,
.attendance-table {
  border-collapse: collapse;
  margin-top: 20px;
  padding: 20px;
}

.marks-table td,
.attendance-table td {
  padding: 10px;
  text-align: center;
}

.marks-table-content,
.attendance-table-content {
  width: 100%;
  height: 100%;
  overflow-x: auto;
}

.rollnumber {
  width: 15%;
  font-weight: bold;
  align-content: start;
}
.marks-input {
  width: 70%;
  border-radius: 7.5px;
  border: 1px solid #b2b2b2;
  padding: 8px;
  text-align: center;
}

.input-coloumn {
  text-align: right;
}

.submit-btn {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.submit-marks-btn,
.publish-announcement-btn,
.publish-material-btn {
  background-color: #6454f2;
  box-shadow: 0 3px 5px rgba(157, 149, 230, 0.7);
  width: 100%;
  height: 60px;
  border-radius: 7.5px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.search-btn {
  box-shadow: 0 3px 5px rgba(157, 149, 230, 0.8);
  background-color: #ffffff;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 7.5px;
  padding: 5px;
  color: #ffffff;
  margin-top: 10px;
}

.present-btn,
.absent-btn,
.remove-btn {
  width: 100px;
  height: 40px;
  border-radius: 7.5px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  background-color: #ffffff;
}

.present-btn {
  border: rgba(68, 255, 0) 1px solid;
  color: rgba(68, 255, 0);
}

.present-btn:hover {
  background-color: rgba(68, 255, 0, 0.1);
}

.absent-btn,
.remove-btn {
  border: rgba(255, 107, 107) 1px solid;
  color: rgba(255, 107, 107);
}
.absent-btn:hover,
.remove-btn:hover {
  background-color: rgba(255, 107, 107, 0.1);
}

.save-cancel-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.cancel-attendance-btn,
.save-attendance-btn {
  border-radius: 7.5px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: 43vw;
  height: 60px;
  margin-top: 15px;
}

.cancel-attendance-btn {
  background-color: #ff0000;
  box-shadow: 0 3px 5px rgba(255, 106, 106, 0.7);
  color: #ffffff;
}

.save-attendance-btn {
  background-color: #6454f2;
  box-shadow: 0 3px 5px rgba(157, 149, 230, 0.7);
  color: #ffffff;
}

/* Announcement Section */

.announcement-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.announcement-title,
.announcement-label,
.material-label {
  font-size: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.announcement-input,
.announcement-textarea,
.announcement-select,
.material-textarea,
.material-input {
  border-radius: 7.5px;
  border: 1px solid #b2b2b2;
  padding: 10px;
  font-size: 15px;
  background-color: #f6f6f6;
  margin-bottom: 20px;
}

/* view announcement section */

.announcement-list,
.material-list {
  width: 100%;
  margin: 20px;
  border-collapse: collapse;
}

.announcement-item,
.leave-item,
.material-item {
  display: flex;
  flex-direction: row;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
  width: 97%;
  padding: 2px;
}

/* upload material*/
.uploadform-elements {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.material-item p {
  margin-right: 20px;
}

.material-item-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 5px;
}

/*Leave*/
.leave-request {
  width: 90vw;
  margin: 60px;
  border-radius: 5px;
  display: flex;
  flex-direction: column !important;
  background-color: #ffffff;
  min-width: 450px;
  border: 1px solid #636262;
}

.submit-leave-req,
.view-leave-req {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.leave-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.leave-form label {
  font-size: 20px;
  color: #000000;
  margin-bottom: 10px;
}
.leave-form input[type="text"],
.leave-form input[type="date"] {
  border-radius: 7.5px;
  border: 1px solid #b2b2b2;
  padding: 10px;
  font-size: 15px;
  background-color: #f6f6f6;
  margin-bottom: 20px;
}

.leave-form input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #b2b2b2;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.leave-form input[type="radio"]:checked {
  border-color: #6454f2;
  background-color: #6454f2;
}

.leave-form input[type="radio"]:checked::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.leave-form input[type="radio"]:hover {
  border-color: #6454f2;
  box-shadow: 0 0 5px rgba(100, 84, 242, 0.3);
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.radio-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.radio-option label {
  margin: 0;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px !important;
}
.leave-form input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.leave-form input[type="checkbox"]:checked {
  border-color: #6454f2;
  background-color: #6454f2;
}

.leave-form input[type="checkbox"]:hover {
  border-color: #6454f2;
  box-shadow: 0 0 5px rgba(100, 84, 242, 0.3);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.leave-form button {
  width: 40vw;
  height: 60px;
  border-radius: 7.5px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.leave-form button[type="submit"] {
  background-color: #6454f2;
  box-shadow: 0 3px 5px rgba(157, 149, 230, 0.7);
}

.leave-form button[type="reset"] {
  background-color: #ff3f3f;
  box-shadow: 0 3px 5px rgba(157, 149, 230, 0.7);
}

.leave-item-container1 {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 20px;
}
